#Ignoring the data folder except for the folder structure
data/**/*.*
!data/**/.gitkeep

#Ignoring the writeups, results, etc except for the folder structure
writeups/**/*.*
!writeups/**/.gitkeep
docs/**/*.*
!docs/**/.gitkeep
results/**/*.*
!results/**/.gitkeep

#Ignoring the pycache, venv and vscode cache
.vscode
.venv
**/__pycache__

